 body{
    background: #4545452c;
 }
.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    gap: 30px;
}

.newsletter h1{
    margin-top: 25px;
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}

.newsletter p{
    color: #454545;
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}

.newsletter button {
    display: inline-block;
    width: 210px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   .newsletter button::before,
   .newsletter button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .newsletter button::before {
    left: -10px;
    background: #fde1ff;
   }
   
   .newsletter button::after {
    right: -10px;
    background: #59189a80;
   }
   
   .newsletter button:hover::before,
   .newsletter button:hover::after {
    width: 58%;
   }
   
   .newsletter button:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   .newsletter button span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }